@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* color declaration */
  .color-primary{
    color: #fd6e0a;
  }
  .color-secondary{
    background-color: #fff8f3;
  }
  .dark-2{
    color: #474747;
  }
  .dark-3{
    color: #757575;
  }
  .mr-style{
    margin-right: 0px;
  }
  /* button declaration */
  .btn-primary{
    background-color: #fd6e0a;
    color: white;
    min-width: 150px;
    height: 64px;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
  }
  .btn-secondary{
    background-color: transparent;
    color: #fd6e0a;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    border: 3px solid #fd6e0a;
    padding: 18px 35px;
    font-size: 20px;
  }

  /* Nav styles start */
  header{
    background: url(./images/developer.png), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left top, bottom right;
    height: 676px;
  }
  nav .nav-title{
    font-size: 45px;
    font-weight: 600;
  }
  nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 130px 0px 130px;
    align-items: center;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  nav ul>li{
    list-style: none;
    margin-right: 30px;
  }
  nav li a{
    text-decoration: none;
    
  }
  /* Hero section start */
  .hero-section{
    display: flex;
    margin-left: 130px;
    margin-right: 38px;
    height: 556px;
    align-items: center;
  }
  .content-column{
    margin-top: 106px;
  }
  .content-column .subtitle{
    font-weight: 400;
    font-size: 45px;
  }
  .content-column .hero-title{
    font-size: 55px;
    font-weight: 700;
  }
  .image-column{
    margin-top: 46px;
    width: 484px;
    height: 556px;
  }
  .image-column img{
    width: 100%;
    height: 100%
  }
  .hero-btn{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  /* About Me styles start */
  .about-section{
    margin: 130px 130px 40px 130px;
    padding: 90px;
  }
  .about-container{
    background-color: #fff;
    padding: 25px;
    text-align: center;
  }
  .address-container{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .address{
    line-height: 0px;
  }
  /* skills styles start here */
  .skill-container{
    margin: 0px 130px;
  }
  .skill-content{
    text-align: center;
    padding: 40px;
  }
  .skill-title{
    font-size: 35px;
    font-weight: bold;
  }
  .skill-cards{
    display: flex;
    gap: 20px;
  }
  .skill-card{
    box-shadow: 2px 4px 26px #cdcaca;
    padding: 25px;
    border-radius: 5px;
  }
  .skill-card p{
    text-align: justify;
  }
  /* Qualification styles start here */
  .p-style{
    font-size: 14px;
  }
  .qualification{
    margin: 130px;
  }
  .qualification-title{
    text-align: center;
  }
  .qualification-container{
    display: flex;
    gap: 25px;
    padding-top: 20px;
  }
  .qualification-btn{
    text-align: center;
    padding-top: 20px;
  }
/* Footer style start here */
.footer-container{
   margin: 0px 130px;
   padding: 60px 0px;
   display: flex;
   gap: 30px;
}
.footer-content{
   width: 450px;
}
.social-icon{
  list-style: none;
  padding-top: 15px;
  display: flex;
  justify-content: start;
  gap: 25px;
  padding-left: 0;
}
.footer-form form{
  width: 450px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
form input, textarea {
  border: none;
  padding: 20px 30px;
  border-radius: 5px;
}
form textarea{
  resize: none;
}
.footer-btn{
  width: 150px;
}
.hide{
  display: none;
}
/* responsive disign for mobile phone */
@media screen and (max-width:576px) {
     /* styles for nav section */
     header{
       background-image: none;
       height: auto;
       margin-bottom: 20px;
     }
     nav{
      flex-direction: column;
      justify-content: center;
      margin: 0px auto;
     }
     /* styles for hero-image section */
     .hero-section{
      flex-direction: column;
      margin: 0px 50px;
      height: auto;
     }
     .content-column{
      margin-top: 50px;
     }
     .image-column{
      margin-top: 40px;
      width: 360px;
      height: 450px;
     }
     .btn-primary, .btn-secondary{
      font-size: 18px;
      padding: 18px 20px;
     }

     /* styles for about section */
     .about-section{
      margin: 0px 10px;
      padding: 20px;
     }
     .about-container{
      padding: 10px;
     }
     .address-container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
     }
     /* styles for skill section  */
     .skill-container{
      margin: 10px;
     }
     .skill-cards{
      flex-direction: column;
     }
    /* styles for qualification section */
    .qualification{
      margin: 10px;
    }
    .qualification-container{
      flex-direction: column;
    }
    /* styles for foorter section */
    .footer-container{
      margin: 0px 10px;
      padding: 40px 0px;
      flex-direction: column;
    }
    .footer-content{
      width: 360px;
      padding: 0px 20px;
    }
    .footer-form{
      padding: 0px 20px;
    }
    .footer-form form{
      width: 360px;
      gap: 25px;
    }
}
/* responsive design for medium device or tablet */
@media screen and (min-width:577px) and (max-width:992px) {
      /* styles for nav section */
     header{
      background-image: none;
      height: auto;
      margin-bottom: 20px;
     }
     nav{
      justify-content: center;
      margin: 0px 50px;
     }
     /* styles for hero-image section */
     .hero-section{
      margin: 0px 50px;
      height: auto;
     }
     .content-column{
      margin-top: 50px;
      width: 400px;
     }
     .image-column{
      margin-top: 40px;
      width: 360px;
      height: 450px;
     }
      /* styles for about section */
     .about-section{
      margin: 0px 50px;
      padding: 40px;
     }
     .about-container{
      padding: 20px;
     }
     .address-container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
     }
     
      /* styles for skills section */
      .skill-container{
        margin: 50px;
       }
      .skill-cards{
        flex-wrap: wrap;
      }
      /* styles for qualification section */
      .qualification{
      margin: 50px;
      }
      .qualification-container{
      flex-direction: column;
      }
      /* styles for foorter section */
      .footer-container{
      margin: 0px 50px;
      padding: 40px 0px;
      flex-direction: column;
      }
      .footer-content{
      width: 90%;
      padding: 0px 20px;
      }
      .footer-form{
      padding: 0px 20px;
      }
      .footer-form form{
      gap: 25px;
      width: 100%;
      }
}